<ion-header>
  <ion-navbar>
    <ion-title>
      Repos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span *ngIf="showLoader" class="loading"></span>

  <div class="panel-body" *ngIf="repos">
    <div class="row">
      <div class="col-sm-12">
        <div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{profileName}}'s Repos</h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
                  <a href="{{repo.html_url}}" target="_blank" *ngFor="let repo of repos" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{repo.name}}</h5>
                      <small>{{repo.days_since}} days ago</small>
                    </div>
                    <p class="mb-1">{{repo.description}}</p>
                    <small>Forks <span class="badge">{{ repo.forks}}</span></small>&nbsp;&nbsp;&nbsp;
                    <small>Watchers <span class="badge">{{ repo.watchers}}</span></small>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
