<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Profile" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Repos" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Gists" tabIcon="contacts"></ion-tab>
</ion-tabs>
