<ion-header>
  <ion-navbar>
    <ion-title>
      Gists
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="panel-body" *ngIf="gists">
    <div class="row">
      <div class="col-sm-12">
        <div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{profileName}}'s Gists</h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
                  <a href="{{gist.html_url}}" target="_blank" *ngFor="let gist of gists" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{gist.description}}</h5>
                      <small>3 days ago</small>
                    </div>
                    <p class="mb-1">{{gist.id}}</p>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
