page-home {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .panel-body .col-sm-12 {
        text-align: center;
    }

    .logo {
        width: 80%;
    }
    .logo.small {
        width: 50%;
    }

    .avatar {
        width: 80%;
    }
    
    .search-form {
        padding-top: 10px;
    }
    
    input.form-control.input-shadow {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    }
}
