<ion-header>
  <ion-navbar>
    <ion-title>Github Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <div class="container">
      <img src="assets/imgs/inspectocat.jpg" [class.small]="profile" class="img-fluid logo" alt="Inspectocat">
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <form action="" class="search-form" (keydown)="findProfile($event)">
          <div class="form-group input-group">
            <input type="text" class="form-control input-shadow" placeholder="Search Github with username" [(ngModel)]="username" name="username">
          </div>
        </form>
      </div>

      <span *ngIf="showLoader" class="loading"></span>

      <div class="panel-body" *ngIf="profile">
        <div class="row">
          <div class="col-sm-12">
            <a href="{{profile.html_url}}" target="_blank"><img src="{{profile.avatar_url}}" class="img-fluid img-thumbnail avatar" alt="Profile Image"></a>
  
            <p class="text-center">{{profile.name}} <small>({{profile.login}})</small></p>
  
            <p class="text-center"><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on github</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
